# This file is used to aggregate CS and GS data seperately
- By year and city, showing total count for each year and the year-over-year change.

In [1]:
import pandas as pd

In [2]:
CS_data_set = {}
base_path = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/raw/全国加油站加气站数据"
CS_dir = f"{base_path}/充电站"
for year in range(2015,2026):
    CS_data_path = f"{CS_dir}/全国加油站加气站数据{year}_充电站.csv"
    CS_data_single_year = pd.read_csv(CS_data_path)
    CS_data_set[year] = CS_data_single_year
    print(year, len(CS_data_single_year))

2015 2039
2016 2092
2017 4533
2018 33972
2019 57113
2020 73320
2021 94209
2022 98813
2023 120660
2024 185617
2025 225899

In [3]:
GS_data_set = {}
base_path = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/raw/全国加油站加气站数据"
GS_dir = f"{base_path}/加油站加气站"
for year in range(2013,2026):
    GS_data_path = f"{GS_dir}/全国加油站加气站数据{year}_加油站加气站.csv"
    GS_data_single_year = pd.read_csv(GS_data_path)
    GS_data_set[year] = GS_data_single_year
    print(year, len(GS_data_single_year))

2013 101816
2014 104542
2015 118645
2016 120030
2017 120669
2018 107356
2019 113770
2020 120313
2021 122005
2022 111608
2023 119012
2024 119029
2025 107755

In [4]:
GS_data_set[2021]

,id,name,address,wgs84_x,wgs84_y,tel,pname,cityname,adname,大类,中类,小类
0,B0FFMFRNQG,桃花加油站,艾亭镇,NaN,NaN,[],安徽省,阜阳市,临泉县,汽车服务,加油站,加油站
1,B0FFM6K64P,闫集加油站(暂停营业),艾亭镇韦艾路,NaN,NaN,13965739950,安徽省,阜阳市,临泉县,汽车服务,加油站,加油站
2,B0FFMFRUX5,加油站(暂停营业),006县道,NaN,NaN,13665589188;0558-6188188,安徽省,阜阳市,临泉县,汽车服务,加油站,加油站
3,B0FFMHGTMH,臻龙加油站(暂停营业),臻龙建材销售有限公司(106国道),NaN,NaN,[],安徽省,阜阳市,临泉县,汽车服务,加油站,加油站
4,B0G12LMJJD,天杰能源加油站(中国.安徽),京广线庙岔中心幼儿园西北侧约300米,NaN,NaN,[],安徽省,阜阳市,临泉县,汽车服务,加油站,加油站
...,...,...,...,...,...,...,...,...,...,...,...,...
122000,B0IDX5WTHS,石家加油站,石垫路,NaN,NaN,023-81507789,重庆市,重庆市,石柱土家族自治县,汽车服务,加油站,加油站
122001,B0IDCCBGEP,罗田加油站,罗田镇天生社会二组300号,NaN,NaN,[],重庆市,重庆市,万州区,汽车服务,加油站,加油站
122002,B00179ARLL,中国石化加油站(一碗水站),348国道与诗城中路交叉口东南380米,NaN,NaN,023-56594738,重庆市,重庆市,奉节县,汽车服务,加油站,中国石化
122003,B0IU1GWBFM,林家沟加油站,301省道与105省道交叉口东北40米,NaN,NaN,[],重庆市,重庆市,巫山县,汽车服务,加油站,加油站
122004,B0ID7SXRCC,雪花加油站,041乡道,NaN,NaN,[],重庆市,重庆市,巫山县,汽车服务,加油站,加油站

In [5]:
def get_year_counts_with_size(data,count_name):
    grouped = data.groupby(["pname","cityname"]).size().reset_index(name=count_name)
    return grouped

result = get_year_counts_with_size(GS_data_set[2021],"GS_count")
print(result)
result = get_year_counts_with_size(CS_data_set[2021],"CS_count")
print(result)

    pname cityname  GS_count
0     上海市      上海市       891
1     云南省      临沧市       200
2     云南省      丽江市       154
3     云南省      保山市       243
4     云南省  大理白族自治州       304
..    ...      ...       ...
365  黑龙江省      绥化市       433
366  黑龙江省      鸡西市       145
367  黑龙江省      鹤岗市        84
368  黑龙江省      黑河市       157
369  黑龙江省    齐齐哈尔市       400

[370 rows x 3 columns]
    pname cityname  CS_count
0     上海市      上海市      6551
1     云南省      临沧市        20
2     云南省      丽江市        55
3     云南省      保山市        82
4     云南省  大理白族自治州        87
..    ...      ...       ...
362  黑龙江省      绥化市        12
363  黑龙江省      鸡西市         6
364  黑龙江省      鹤岗市         3
365  黑龙江省      黑河市        13
366  黑龙江省    齐齐哈尔市        11

[367 rows x 3 columns]

In [6]:
def aggregate_data_by_year(data_set, count_name):
    all_years_data = []
    for year, data in data_set.items():
        yearly_counts = get_year_counts_with_size(data, count_name)
        yearly_counts['year'] = year
        all_years_data.append(yearly_counts)
    result = pd.concat(all_years_data, ignore_index=True)
    columns = ['year'] + [col for col in result.columns if col != 'year']
    return result[columns]

In [7]:
GS_aggregated = aggregate_data_by_year(GS_data_set, "GS_count")
GS_aggregated

      year pname cityname  GS_count
0     2013   上海市      上海市       939
1     2013   云南省      临沧市       140
2     2013   云南省      丽江市       103
3     2013   云南省      保山市       170
4     2013   云南省      大理白       196
...    ...   ...      ...       ...
4637  2025  黑龙江省      绥化市       415
4638  2025  黑龙江省      鸡西市       144
4639  2025  黑龙江省      鹤岗市        89
4640  2025  黑龙江省      黑河市       166
4641  2025  黑龙江省    齐齐哈尔市       372

[4642 rows x 4 columns]

In [8]:
CS_aggregated = aggregate_data_by_year(CS_data_set, "CS_count")
CS_aggregated

      year pname   cityname  CS_count
0     2015   上海市        上海市       128
1     2015   云南省        昆明市         7
2     2015   云南省        昭通市         1
3     2015   云南省        普洱市         1
4     2015   云南省  西双版纳傣族自治州         1
...    ...   ...        ...       ...
3492  2025  黑龙江省        绥化市       148
3493  2025  黑龙江省        鸡西市        64
3494  2025  黑龙江省        鹤岗市        28
3495  2025  黑龙江省        黑河市        97
3496  2025  黑龙江省      齐齐哈尔市       163

[3497 rows x 4 columns]

In [23]:
filter = (GS_aggregated['cityname'] == '上海市') | (GS_aggregated['cityname'] == '北京市') \
    | (GS_aggregated['cityname'] == '重庆市') | (GS_aggregated['cityname'] == '天津市')
GS_aggregated[filter]

      year pname cityname  GS_count
0     2013   上海市      上海市       939
29    2013   北京市      北京市      1174
60    2013   天津市      天津市       964
311   2013   重庆市      重庆市      1463
344   2014   上海市      上海市       897
373   2014   北京市      北京市      1125
404   2014   天津市      天津市       989
655   2014   重庆市      重庆市      1441
688   2015   上海市      上海市      1124
717   2015   北京市      北京市      1376
749   2015   天津市      天津市      1027
1000  2015   重庆市      重庆市      1799
1033  2016   上海市      上海市      1146
1062  2016   北京市      北京市      1401
1094  2016   天津市      天津市      1061
1345  2016   重庆市      重庆市      1814
1378  2017   上海市      上海市       955
1407  2017   北京市      北京市      1130
1439  2017   天津市      天津市      1018
1690  2017   重庆市      重庆市      1700
1723  2018   上海市      上海市       885
1752  2018   北京市      北京市      1079
1783  2018   天津市      天津市       940
2057  2018   重庆市      重庆市      1714
2090  2019   上海市      上海市       857
2119  2019   北京市      北京市      1031
2151  2019   天津市      天津市       941
2425  2019   重庆市      重庆市      1862
2458  2020   上海市      上海市       887
2487  2020   北京市      北京市      1083
2519  2020   天津市      天津市       998
2794  2020   重庆市      重庆市      1971
2827  2021   上海市      上海市       891
2856  2021   北京市      北京市      1100
2888  2021   天津市      天津市      1009
3164  2021   重庆市      重庆市      1998
3197  2022            上海市       871
3226  2022   北京市      北京市      1067
3258  2022   天津市      天津市       993
3533  2022   重庆市      重庆市      1785
3566  2023   上海市      上海市       865
3595  2023   北京市      北京市      1041
3627  2023   天津市      天津市       985
3903  2023   重庆市      重庆市      1969
3936  2024   上海市      上海市       864
3965  2024   北京市      北京市      1043
3997  2024   天津市      天津市       982
4273  2024   重庆市      重庆市      1989
4306  2025   上海市      上海市       839
4335  2025   北京市      北京市       973
4367  2025   天津市      天津市       923
4609  2025   重庆市      重庆市      1971

In [26]:
empty_filter = (GS_aggregated['cityname'] == '上海市') | (GS_aggregated['year'] == '2022')
GS_aggregated.loc[empty_filter, 'pname'] = '上海市'
GS_aggregated[filter]

      year pname cityname  GS_count
0     2013   上海市      上海市       939
29    2013   北京市      北京市      1174
60    2013   天津市      天津市       964
311   2013   重庆市      重庆市      1463
344   2014   上海市      上海市       897
373   2014   北京市      北京市      1125
404   2014   天津市      天津市       989
655   2014   重庆市      重庆市      1441
688   2015   上海市      上海市      1124
717   2015   北京市      北京市      1376
749   2015   天津市      天津市      1027
1000  2015   重庆市      重庆市      1799
1033  2016   上海市      上海市      1146
1062  2016   北京市      北京市      1401
1094  2016   天津市      天津市      1061
1345  2016   重庆市      重庆市      1814
1378  2017   上海市      上海市       955
1407  2017   北京市      北京市      1130
1439  2017   天津市      天津市      1018
1690  2017   重庆市      重庆市      1700
1723  2018   上海市      上海市       885
1752  2018   北京市      北京市      1079
1783  2018   天津市      天津市       940
2057  2018   重庆市      重庆市      1714
2090  2019   上海市      上海市       857
2119  2019   北京市      北京市      1031
2151  2019   天津市      天津市       941
2425  2019   重庆市      重庆市      1862
2458  2020   上海市      上海市       887
2487  2020   北京市      北京市      1083
2519  2020   天津市      天津市       998
2794  2020   重庆市      重庆市      1971
2827  2021   上海市      上海市       891
2856  2021   北京市      北京市      1100
2888  2021   天津市      天津市      1009
3164  2021   重庆市      重庆市      1998
3197  2022   上海市      上海市       871
3226  2022   北京市      北京市      1067
3258  2022   天津市      天津市       993
3533  2022   重庆市      重庆市      1785
3566  2023   上海市      上海市       865
3595  2023   北京市      北京市      1041
3627  2023   天津市      天津市       985
3903  2023   重庆市      重庆市      1969
3936  2024   上海市      上海市       864
3965  2024   北京市      北京市      1043
3997  2024   天津市      天津市       982
4273  2024   重庆市      重庆市      1989
4306  2025   上海市      上海市       839
4335  2025   北京市      北京市       973
4367  2025   天津市      天津市       923
4609  2025   重庆市      重庆市      1971

In [27]:
filter = (CS_aggregated['cityname'] == '上海市') | (CS_aggregated['cityname'] == '北京市') \
    | (CS_aggregated['cityname'] == '重庆市') | (CS_aggregated['cityname'] == '天津市')
CS_aggregated[filter]

      year pname cityname  CS_count
0     2015   上海市      上海市       128
11    2015   北京市      北京市       343
22    2015   天津市      天津市        40
183   2015   重庆市      重庆市        27
201   2016   上海市      上海市       135
212   2016   北京市      北京市       354
223   2016   天津市      天津市        41
384   2016   重庆市      重庆市        28
402   2017   上海市      上海市       478
416   2017   北京市      北京市       740
428   2017   天津市      天津市       189
613   2017   重庆市      重庆市        85
634   2018   上海市      上海市      3782
662   2018   北京市      北京市      2941
692   2018   天津市      天津市      1014
950   2018   重庆市      重庆市       631
977   2019   上海市      上海市      4256
1005  2019   北京市      北京市      3791
1037  2019   天津市      天津市      2135
1297  2019   重庆市      重庆市      1057
1327  2020   上海市      上海市      5787
1356  2020   北京市      北京市      4782
1388  2020   天津市      天津市      2658
1656  2020   重庆市      重庆市      1509
1688  2021   上海市      上海市      6551
1717  2021   北京市      北京市      5565
1749  2021   天津市      天津市      3236
2022  2021   重庆市      重庆市      1941
2055  2022            上海市      5715
2084  2022   北京市      北京市      4857
2116  2022   天津市      天津市      2507
2388  2022   重庆市      重庆市      1450
2421  2023   上海市      上海市      5745
2450  2023   北京市      北京市      4881
2482  2023   天津市      天津市      2731
2756  2023   重庆市      重庆市      2197
2789  2024   上海市      上海市      6914
2818  2024   北京市      北京市      5646
2850  2024   天津市      天津市      3790
3127  2024   重庆市      重庆市      3256
3160  2025   上海市      上海市      7805
3189  2025   北京市      北京市      5835
3221  2025   天津市      天津市      4397
3464  2025   重庆市      重庆市      5495

In [28]:
empty_filter = (CS_aggregated['cityname'] == '上海市') | (CS_aggregated['year'] == '2022')
CS_aggregated.loc[empty_filter, 'pname'] = '上海市'
CS_aggregated[filter]

      year pname cityname  CS_count
0     2015   上海市      上海市       128
11    2015   北京市      北京市       343
22    2015   天津市      天津市        40
183   2015   重庆市      重庆市        27
201   2016   上海市      上海市       135
212   2016   北京市      北京市       354
223   2016   天津市      天津市        41
384   2016   重庆市      重庆市        28
402   2017   上海市      上海市       478
416   2017   北京市      北京市       740
428   2017   天津市      天津市       189
613   2017   重庆市      重庆市        85
634   2018   上海市      上海市      3782
662   2018   北京市      北京市      2941
692   2018   天津市      天津市      1014
950   2018   重庆市      重庆市       631
977   2019   上海市      上海市      4256
1005  2019   北京市      北京市      3791
1037  2019   天津市      天津市      2135
1297  2019   重庆市      重庆市      1057
1327  2020   上海市      上海市      5787
1356  2020   北京市      北京市      4782
1388  2020   天津市      天津市      2658
1656  2020   重庆市      重庆市      1509
1688  2021   上海市      上海市      6551
1717  2021   北京市      北京市      5565
1749  2021   天津市      天津市      3236
2022  2021   重庆市      重庆市      1941
2055  2022   上海市      上海市      5715
2084  2022   北京市      北京市      4857
2116  2022   天津市      天津市      2507
2388  2022   重庆市      重庆市      1450
2421  2023   上海市      上海市      5745
2450  2023   北京市      北京市      4881
2482  2023   天津市      天津市      2731
2756  2023   重庆市      重庆市      2197
2789  2024   上海市      上海市      6914
2818  2024   北京市      北京市      5646
2850  2024   天津市      天津市      3790
3127  2024   重庆市      重庆市      3256
3160  2025   上海市      上海市      7805
3189  2025   北京市      北京市      5835
3221  2025   天津市      天津市      4397
3464  2025   重庆市      重庆市      5495

In [30]:
def calculate_yearly_changes(aggregated_data, count_column):
    aggregated_data = aggregated_data.sort_values(by=['pname', 'cityname', 'year'])
    aggregated_data['prev_count'] = aggregated_data.groupby(['pname', 'cityname'])[count_column].shift(1)
    aggregated_data['yearly_change'] = aggregated_data[count_column] - aggregated_data['prev_count']
    aggregated_data.drop(columns=['prev_count'], inplace=True)  # 删除辅助列
    return aggregated_data

In [31]:
GS_aggregated = calculate_yearly_changes(GS_aggregated, 'GS_count')
GS_aggregated

      year pname cityname  GS_count  yearly_change
0     2013   上海市      上海市       939            NaN
344   2014   上海市      上海市       897          -42.0
688   2015   上海市      上海市      1124          227.0
1033  2016   上海市      上海市      1146           22.0
1378  2017   上海市      上海市       955         -191.0
...    ...   ...      ...       ...            ...
3196  2021  黑龙江省    齐齐哈尔市       400            1.0
3565  2022  黑龙江省    齐齐哈尔市       274         -126.0
3935  2023  黑龙江省    齐齐哈尔市       383          109.0
4305  2024  黑龙江省    齐齐哈尔市       385            2.0
4641  2025  黑龙江省    齐齐哈尔市       372          -13.0

[4642 rows x 5 columns]

In [32]:
CS_aggregated = calculate_yearly_changes(CS_aggregated, 'CS_count')
CS_aggregated

      year pname cityname  CS_count  yearly_change
0     2015   上海市      上海市       128            NaN
201   2016   上海市      上海市       135            7.0
402   2017   上海市      上海市       478          343.0
634   2018   上海市      上海市      3782         3304.0
977   2019   上海市      上海市      4256          474.0
...    ...   ...      ...       ...            ...
2054  2021  黑龙江省    齐齐哈尔市        11            3.0
2420  2022  黑龙江省    齐齐哈尔市        22           11.0
2788  2023  黑龙江省    齐齐哈尔市        29            7.0
3159  2024  黑龙江省    齐齐哈尔市        44           15.0
3496  2025  黑龙江省    齐齐哈尔市       163          119.0

[3497 rows x 5 columns]

In [33]:
base_dir = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/intermediate/yiwei"
GS_aggregated.to_csv(f"{base_dir}/GS_aggregated_original.csv", index=False)
CS_aggregated.to_csv(f"{base_dir}/CS_aggregated_original.csv", index=False)

In [41]:
GS_aggregated = pd.read_csv(f"{base_dir}/GS_aggregated_after_manual_check.csv")
CS_aggregated = pd.read_csv(f"{base_dir}/CS_aggregated_after_manual_check.csv")

In [42]:
GS_aggregated

      year pname cityname  GS_count  yearly_change
0     2013   上海市      上海市       939            NaN
1     2014   上海市      上海市       897          -42.0
2     2015   上海市      上海市      1124          227.0
3     2016   上海市      上海市      1146           22.0
4     2017   上海市      上海市       955         -191.0
...    ...   ...      ...       ...            ...
4637  2021  黑龙江省    齐齐哈尔市       400            1.0
4638  2022  黑龙江省    齐齐哈尔市       274         -126.0
4639  2023  黑龙江省    齐齐哈尔市       383          109.0
4640  2024  黑龙江省    齐齐哈尔市       385            2.0
4641  2025  黑龙江省    齐齐哈尔市       372          -13.0

[4642 rows x 5 columns]

In [43]:
CS_aggregated

      year pname cityname  CS_count  yearly_change
0     2015   上海市      上海市       128            NaN
1     2016   上海市      上海市       135            7.0
2     2017   上海市      上海市       478          343.0
3     2018   上海市      上海市      3782         3304.0
4     2019   上海市      上海市      4256          474.0
...    ...   ...      ...       ...            ...
3492  2021  黑龙江省    齐齐哈尔市        11            3.0
3493  2022  黑龙江省    齐齐哈尔市        22           11.0
3494  2023  黑龙江省    齐齐哈尔市        29            7.0
3495  2024  黑龙江省    齐齐哈尔市        44           15.0
3496  2025  黑龙江省    齐齐哈尔市       163          119.0

[3497 rows x 5 columns]

In [44]:
GS_aggregated = calculate_yearly_changes(GS_aggregated, 'GS_count')
GS_aggregated

      year pname cityname  GS_count  yearly_change
0     2013   上海市      上海市       939            NaN
1     2014   上海市      上海市       897          -42.0
2     2015   上海市      上海市      1124          227.0
3     2016   上海市      上海市      1146           22.0
4     2017   上海市      上海市       955         -191.0
...    ...   ...      ...       ...            ...
4637  2021  黑龙江省    齐齐哈尔市       400            1.0
4638  2022  黑龙江省    齐齐哈尔市       274         -126.0
4639  2023  黑龙江省    齐齐哈尔市       383          109.0
4640  2024  黑龙江省    齐齐哈尔市       385            2.0
4641  2025  黑龙江省    齐齐哈尔市       372          -13.0

[4642 rows x 5 columns]

In [45]:
CS_aggregated = calculate_yearly_changes(CS_aggregated, 'CS_count')
CS_aggregated

      year pname cityname  CS_count  yearly_change
0     2015   上海市      上海市       128            NaN
1     2016   上海市      上海市       135            7.0
2     2017   上海市      上海市       478          343.0
3     2018   上海市      上海市      3782         3304.0
4     2019   上海市      上海市      4256          474.0
...    ...   ...      ...       ...            ...
3492  2021  黑龙江省    齐齐哈尔市        11            3.0
3493  2022  黑龙江省    齐齐哈尔市        22           11.0
3494  2023  黑龙江省    齐齐哈尔市        29            7.0
3495  2024  黑龙江省    齐齐哈尔市        44           15.0
3496  2025  黑龙江省    齐齐哈尔市       163          119.0

[3497 rows x 5 columns]

In [46]:
GS_aggregated.to_csv(f"{base_dir}/GS_aggregated_chinese.csv", index=False)
CS_aggregated.to_csv(f"{base_dir}/CS_aggregated_chinese.csv", index=False)