# README
- This file is used to do some statistics analysis about the data(but as new data added, we have to do that again)

In [1]:
import pandas as pd

In [ ]:
base_path = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/raw/全国加油站加气站数据"
CS_dir = f"{base_path}/充电站"
year = 2015
CS_data_path = f"{CS_dir}/全国加油站加气站数据{year}_充电站.csv"
CS_data_example = pd.read_csv(CS_data_path)
CS_data_example

,name,address,wgs84_x,wgs84_y,tel,pname,cityname,adname,大类,中类,小类
0,充电站,329省道附近,120.290207,35.988930,,山东省,青岛市,黄岛区,汽车服务,充电站,充电站
1,硕维新能源汽车充电站,5号大街附近,120.348434,30.308004,,浙江省,杭州市,江干区,汽车服务,充电站,充电站
2,特斯拉充电站(北京蔓兰酒店),东直门香河园路1号,116.439087,39.950748,,北京市,北京市,东城区,汽车服务,充电站,充电站
3,循道新能源汽车充电站,博园路附近,121.167358,31.279802,,上海市,上海市,嘉定区,汽车服务,充电站,充电站
4,国家电网电动汽车充电站(昆仑东路),昆仑东路附近,101.873878,36.561596,,青海省,西宁市,城东区,汽车服务,充电站,充电站
...,...,...,...,...,...,...,...,...,...,...,...
2034,北京联通隆福汽车销售服务有限公司公共充电站(白塔庵路),中关村东路108号,116.334702,39.973045,,北京市,北京市,海淀区,汽车服务,充电站,充电站
2035,国家电网汽车充电站(北洼东街),北洼东街34附近,116.307014,39.936611,,北京市,北京市,海淀区,汽车服务,充电站,充电站
2036,国家电网汽车充电站(志新路),科大北门附近,116.356628,39.994427,,北京市,北京市,海淀区,汽车服务,充电站,充电站
2037,国家电网汽车充电站科大(北门),学院路20号附近,116.359772,39.997036,,北京市,北京市,海淀区,汽车服务,充电站,充电站
2038,汽车充电站(北土城西路),花园东路2号附近,116.367554,39.978355,,北京市,北京市,海淀区,汽车服务,充电站,充电站

In [3]:
CS_data_set = {}
for year in range(2015,2026):
    CS_data_path = f"{CS_dir}/全国加油站加气站数据{year}_充电站.csv"
    CS_data_single_year = pd.read_csv(CS_data_path)
    CS_data_set[year] = CS_data_single_year
    print(year, len(CS_data_single_year))

2015 2039
2016 2092
2017 4533
2018 33972
2019 57113
2020 73320
2021 94209
2022 98813
2023 120660
2024 185617
2025 225899

In [16]:
base_path = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/raw/全国加油站加气站数据"
GS_dir = f"{base_path}/加油站加气站"
year = 2015
GS_data_path = f"{GS_dir}/全国加油站加气站数据{year}_加油站加气站.csv"
GS_data_example = pd.read_csv(GS_data_path)
GS_data_example

,name,address,wgs84_x,wgs84_y,tel,pname,cityname,adname,大类,中类,小类
0,解放路加油站,新阳路附近,115.350990,33.273129,,安徽省,阜阳市,界首市,汽车服务,加油站,加油站
1,新石门村柳林沟口加油站,荆关镇新石门村柳林沟口南,111.011986,33.264828,,河南省,南阳市,淅川县,汽车服务,加油站,加油站
2,中国石化加油站,荆紫关汽车站西南,111.018578,33.252361,,河南省,南阳市,淅川县,汽车服务,加油站,中国石化
3,中国石油加油站,紫荆关镇张村万客来生活广场附近,111.041229,33.229813,,河南省,南阳市,淅川县,汽车服务,加油站,中国石油
4,开运街加油站,开运街690号,125.285980,43.872265,,吉林省,长春市,朝阳区,汽车服务,加油站,加油站
...,...,...,...,...,...,...,...,...,...,...,...
118640,中国石化北安河加油站(快乐天使双语幼儿园东),温泉路和南安河路交叉处往北路东侧,116.136032,40.053268,010-51728203,北京市,北京市,海淀区,汽车服务,加油站,中国石化
118641,道达尔加油站(安宁庄路),西三旗安宁庄路22号,116.326393,40.052692,010-62957472,北京市,北京市,海淀区,汽车服务,加油站,加油站
118642,北京石化首石缘加油站,西三环北路105号金龙潭大饭店旁,116.309441,39.938145,010-88417637,北京市,北京市,海淀区,汽车服务,加油站,加油站
118643,中化道达尔北沙滩加油站,双泉堡169号,116.360886,40.011929,010-62840834,北京市,北京市,海淀区,汽车服务,加油站,汽车服务
118644,214乡道加油站,324国道附近,109.356300,23.134033,0775-4813139,广西壮族自治区,贵港市,覃塘区,汽车服务,加油站,加油站

In [17]:
GS_data_set = {}
for year in range(2013,2026):
    GS_data_path = f"{GS_dir}/全国加油站加气站数据{year}_加油站加气站.csv"
    GS_data_single_year = pd.read_csv(GS_data_path)
    GS_data_set[year] = GS_data_single_year
    print(year, len(GS_data_single_year))

2013 101816
2014 104542
2015 118645
2016 120030
2017 120669
2018 107356
2019 113770
2020 120313
2021 122005
2022 111608
2023 119012
2024 119029
2025 107755

In [18]:
# Method 1: Check for duplicate values in specified column combinations
def check_duplicates_by_columns(df, columns, year=None):
    """
    Check if there are duplicate values in specified column combinations
    df: DataFrame
    columns: List of column names to check
    year: Year (for printing information)
    """
    # Check if these column combinations have duplicates
    duplicates = df.duplicated(subset=columns, keep=False)
    duplicate_count = duplicates.sum()
    
    if year:
        print(f"Year {year}:")
    print(f"  Total rows: {len(df)}  Duplicate rows: {duplicate_count}")
    
    # If there are duplicates, show the duplicate records
    if duplicate_count > 0:
        show_columns = columns + ["name","pname","cityname","adname"]
        # print(f"  Duplicate records:")
        duplicate_records = df[duplicates].sort_values(by=columns)
        # print(duplicate_records[show_columns].head(10))  # Only show first 10 records
    
    return duplicate_count

In [19]:
location_columns = ['wgs84_x', 'wgs84_y']

for key in CS_data_set:
    data_single_year = CS_data_set[key]
    check_duplicates_by_columns(data_single_year, location_columns, key)

Year 2015:
  Total rows: 2039  Duplicate rows: 98
Year 2016:
  Total rows: 2092  Duplicate rows: 202
Year 2017:
  Total rows: 4533  Duplicate rows: 98
Year 2018:
  Total rows: 33972  Duplicate rows: 820
Year 2019:
  Total rows: 57113  Duplicate rows: 1391
Year 2020:
  Total rows: 73320  Duplicate rows: 1393
Year 2021:
  Total rows: 94209  Duplicate rows: 94209
Year 2022:
  Total rows: 98813  Duplicate rows: 3952
Year 2023:
  Total rows: 120660  Duplicate rows: 4568
Year 2024:
  Total rows: 185617  Duplicate rows: 2855
Year 2025:
  Total rows: 225899  Duplicate rows: 6796

In [20]:
location_columns = ['wgs84_x', 'wgs84_y']

for key in GS_data_set:
    data_single_year = GS_data_set[key]
    check_duplicates_by_columns(data_single_year, location_columns, key)

Year 2013:
  Total rows: 101816  Duplicate rows: 480
Year 2014:
  Total rows: 104542  Duplicate rows: 472
Year 2015:
  Total rows: 118645  Duplicate rows: 6270
Year 2016:
  Total rows: 120030  Duplicate rows: 8998
Year 2017:
  Total rows: 120669  Duplicate rows: 684
Year 2018:
  Total rows: 107356  Duplicate rows: 415
Year 2019:
  Total rows: 113770  Duplicate rows: 167
Year 2020:
  Total rows: 120313  Duplicate rows: 50
Year 2021:
  Total rows: 122005  Duplicate rows: 122005
Year 2022:
  Total rows: 111608  Duplicate rows: 472
Year 2023:
  Total rows: 119012  Duplicate rows: 50
Year 2024:
  Total rows: 119029  Duplicate rows: 48
Year 2025:
  Total rows: 107755  Duplicate rows: 612