# README
- This file is used to check something temporarily

In [1]:
import pandas as pd

In [2]:
GS_data_set = {}
base_path = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/raw/全国加油站加气站数据"
GS_dir = f"{base_path}/加油站加气站"
for year in range(2013,2026):
    GS_data_path = f"{GS_dir}/全国加油站加气站数据{year}_加油站加气站.csv"
    GS_data_single_year = pd.read_csv(GS_data_path)
    GS_data_set[year] = GS_data_single_year
    print(year, len(GS_data_single_year))

2013 101816
2014 104542
2015 118645
2016 120030
2017 120669
2018 107356
2019 113770
2020 120313
2021 122005
2022 111608
2023 119012
2024 119029
2025 107755

In [3]:
CS_data_set = {}
base_path = "C:/Users/31155/Dropbox/EV-GasDualNetwork/Data/raw/全国加油站加气站数据"
CS_dir = f"{base_path}/充电站"
for year in range(2015,2026):
    CS_data_path = f"{CS_dir}/全国加油站加气站数据{year}_充电站.csv"
    CS_data_single_year = pd.read_csv(CS_data_path)
    CS_data_set[year] = CS_data_single_year
    print(year, len(CS_data_single_year))

2015 2039
2016 2092
2017 4533
2018 33972
2019 57113
2020 73320
2021 94209
2022 98813
2023 120660
2024 185617
2025 225899

In [4]:
year = 2019
tmp_data = CS_data_set[year]
tmp_data[tmp_data['name'] == '星星充电汽车充电站(亳州之星汽车有限公司)']

,id,name,address,wgs84_x,wgs84_y,tel,pname,cityname,adname,大类,中类,小类
1,B0FFGXT8LP,星星充电汽车充电站(亳州之星汽车有限公司),药都大道西38号,115.796045,33.83996,[],安徽省,亳州市,谯城区,汽车服务,充电站,充电站

In [5]:
year = 2020
tmp_data = CS_data_set[year]
tmp_data[tmp_data['name'] == '星星充电汽车充电站(亳州之星汽车有限公司)']

,id,name,address,wgs84_x,wgs84_y,tel,pname,cityname,adname,大类,中类,小类
9458,B0FFGXT8LP,星星充电汽车充电站(亳州之星汽车有限公司),药都大道西38号,115.796058,33.839969,[],安徽省,亳州市,谯城区,汽车服务,充电站,充电站

In [7]:
def check_how_many_merge_with_different_cols(data_set, year1, year2, cols):
    df_year1 = data_set[year1]
    df_year2 = data_set[year2]
    merged = df_year1.merge(df_year2, on=cols, suffixes=('_year1', '_year2'))
    print(f"Year {year1} rows: {len(df_year1)}, Year {year2} rows: {len(df_year2)}")
    print(f"Merging year {year1} and year {year2} on columns {cols}, resulting rows: {len(merged)}")
    return merged

In [12]:
data_tmp = check_how_many_merge_with_different_cols(GS_data_set, 2019, 2018, ['wgs84_x', 'wgs84_y'])
print(data_tmp)

Year 2019 rows: 113770, Year 2018 rows: 107356
Merging year 2019 and year 2018 on columns ['wgs84_x', 'wgs84_y'], resulting rows: 0
Empty DataFrame
Columns: [id_year1, name_year1, address_year1, wgs84_x, wgs84_y, tel_year1, pname_year1, cityname_year1, adname_year1, 大类_year1, 中类_year1, 小类_year1, id_year2, name_year2, address_year2, tel_year2, pname_year2, cityname_year2, adname_year2, 大类_year2, 中类_year2, 小类_year2]
Index: []

[0 rows x 22 columns]